@using Epam.TaskTrackingSystem.DependencyResolver;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";
    
}

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Статус</th>
    </tr>

</table>







