@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-image: url('../../Content/images/bg.jpg')">
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
